/*	New version	*/
:root{
	--myPink:	#ff00ca;
    --myGrey:	rgb(51, 51, 51);
	--myGrey2:	rgb(40, 40, 40);

	--myFont:	"Pacifico";	
}

body{
	width:	100%;
	height:	100vh;

	background:	var(--myGrey, black);

	font-size:	2em;
    color:	var(--myPink, red);
   
    padding:	0;
    margin:	0;

	font-family:	var(--myFont);
}


.ScreenFlexColumn, .ScreenFlexRow{
	display:	flex;
    
    align-content:	center;
    justify-content:	center;
}

.ScreenFlexColumn{
    flex-direction:	column;
    text-align:	center;
}

.ScreenFlexRow{
	height:	100vh;

    flex-direction:	row;
}

.grid{
	min-width:	200px;
	background:	var(--myGrey, black);
    
    display:	grid;
    grid-template-columns:	1fr 2fr 1fr;
    grid-template-rows:	1fr 10fr 1fr;
	
    grid-gap:	0.2em;
    
    padding:	0.2em;
}


.box:hover{
	box-shadow:	0 0 5em 1em var(--myPink, red);	
}


#box1, #box2{
	background:	var(--myGrey, black);;
    grid-column:	1/4;
}

/*	Title bar	*/
#box1{
	grid-row:	1/2;
    
    font-size:	1em;
}
#box1:hover{
	box-shadow:	none;
	text-shadow:	0 0 5px var(--myPink, red), 0 0 2em var(--myPink, red);
}

/*	Main part with canvas	*/
#box2{
	width:	400px;

	grid-row: 2/4;
}
canvas{
	background:	var(--myGrey, black);

	width:	100%;
    height:	100%;
    
    padding:	0;
    border:		0;
    margin:		0;
}

/*	Input	*/
#box3{
    min-width:	200px;
    min-height:	1em;

	grid-column:	1/3;
}
#input{
	height:	100%;

	border:		0;
    padding:	0;
    margin:		0;
    
    background:	var(--myGrey2, black);;
    
    text-indent:	1em;
    color:	var(--myPink, red);
}
#input:focus{
	box-shadow:	0 0 5px var(--myPink, red);
}


/*	Send button	*/
#box4{
	grid-column:	3/4;
}
#send{
	width:	100%;
    height:	100%;
    
    border:		0;
    padding:	0;
    margin:		0;

	background:	var(--myGrey2, black);
    color:	var(--myPink, red);

	font-family:	var(--myFont);
}
#send:hover{
	background:	var(--myPink, red);
	color:	var(--myGrey2, black);
}
#send:active{
	text-transform:	uppercase;
	font-weight:	bold;
}
